
@{
    ViewBag.Title = "_vincularPorifissionais";
}


    <div class="card horizontal-form" style="margin-top:-295px">
        <div class="card-header ">
            <h4 class="card-title">Resumo</h4>
        </div>
        <div class="card-body ">
            <table class="table">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Teste</td>
                        <td class="td-actions text-right">
                            <a href="/Usuario/Excluir/22" rel="tooltip" title="" class="" data-original-title="Remover">
                                <i class="nc-icon nc-simple-remove"></i>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>Teste</td>
                        <td>
                            <a href="/Usuario/Excluir/22" rel="tooltip" title="" class="" data-original-title="Remover">
                                <i class="nc-icon nc-simple-remove"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="card-footer ">
            <div class="col-md-9">
                <button type="submit" class="btn btn-default">Finalizar Contratação</button>
            </div>
        </div>
    </div>

